[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cython = "*"
setuptools = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.13"

[scripts]
clean = "bash scripts/clean.sh"
build = "bash scripts/build.sh"
full-build = "bash scripts/full-build.sh"
test = "pytest tests/tests.py"
